#html-logo {
    margin-right: 2%;
    margin-left: 3%;
}

#css-logo {
    margin-right: 3%;
    margin-left: 4%;
}

#js-logo {
    margin-right: 3%;
    margin-left: 3%;
}

#jsp-logo {
    margin-right: 4%;
    margin-left: 5%;
}
