#abb3-1{
    width: 40%;
    float: right;
    text-align: center;
}

#abb3-2 {
    width: 80%;
    position: relative;
    left: 5%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


